body {
  margin: 0;
  padding: 0;
  background: rgb(233, 233, 233);
}

.navbar {
  font-family: "Lato" !important;
}

/* unvisited link */
a:link {
  color: inherit !important;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit !important;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #bfdad9;
  text-decoration: none;
}

/* selected link */
a:active {
  color: inherit !important;
  text-decoration: none;
}

.MuiToolbar-root {
  background-color: #DBEBE8 !important;
}

/* FOR LOGO
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif;
font-family: 'Poiret One', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lexend Zetta', sans-serif;
font-family: 'Nixie One', cursive; 
*/
logo-child {
  width: 200;
}
.logotxt {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 48px;
  padding-top: 5%;
  text-transform: uppercase;
  color: #000;
}

.logoLeft {
  padding-top: 0%;
}
.logoRight {
  padding-top: 7%;
}
.logo-child {
  width: 30px;
}

.logoContainer {
  display: flex;
}

.MuiChip-avatarColorPrimary {
  color: rgb(44, 33, 33) !important;
  background-color: #dbebe8 !important;
}
.MuiChip-colorPrimary {
  color: #888 !important;
  background-color: #d5dfde !important;
}

.deleteBtn {
  float: right !important;
}
.MuiCard-root {
  display: inline-grid;
  margin: 15px;
}
.parent-container {
  margin: 15px;
}
.MuiPaper-root {
  background-color: #353432 !important;
}

.logo {
  transition-delay: 4ms;
}

.searchIcon {
  padding: 8px 0px 7px 0px !important;
}

.MuiListItem-root, .MuiList-padding, .MuiListItem-gutters, .MuiListItem-button, .MuiMenuItem-root .MuiMenuItem-gutters {
  background-color: #fff !important;
  color: #222 !important;
}

.DropzoneArea-dropzoneParagraph-210 {
  font-family: "Arial" !important;
}